*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Tahoma, Arial, sans-serif;
}


body{
    background:#f3f6f4;
    color:#222;
}



/* Header */

header{

    background:#075c3a;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;

}


.logo{

    color:white;
    font-size:30px;
    font-weight:bold;

}



header input{

    width:350px;
    padding:14px 22px;
    border:none;
    outline:none;
    border-radius:30px;
    font-size:16px;

}



/* Hero */


.hero{

    text-align:center;
    padding:70px 20px;

}



.hero h1{

    font-size:40px;
    color:#075c3a;
    margin-bottom:15px;

}


.hero p{

    color:#666;
    font-size:18px;

}



/* Categories */


.categories{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
    margin-bottom:40px;

}



.categories button{

    background:white;
    border:none;
    padding:12px 25px;
    border-radius:25px;
    cursor:pointer;
    box-shadow:0 5px 15px #0002;
    transition:.3s;

}



.categories button:hover{

    background:#075c3a;
    color:white;

}



/* Apps */


.apps{

    width:85%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;

}




.app-card{

    background:white;
    padding:25px;
    border-radius:25px;
    display:flex;
    align-items:center;
    gap:20px;
    box-shadow:0 10px 25px #0001;
    transition:.3s;

}



.app-card:hover{

    transform:translateY(-8px);

}



.app-card img{

    width:80px;
    height:80px;
    border-radius:20px;

}




.app-card h2{

    color:#075c3a;
    margin-bottom:8px;

}



.app-card p{

    color:#666;
    margin-bottom:8px;

}



.app-card span{

    color:#888;
    font-size:13px;

}



.app-card button{

    display:block;
    margin-top:15px;
    background:#075c3a;
    color:white;
    border:none;
    padding:9px 30px;
    border-radius:20px;
    cursor:pointer;

}



.app-card button:hover{

    background:#043b26;

}




footer{

    margin-top:70px;
    padding:25px;
    text-align:center;
    background:#06351f;
    color:white;

}



/* Mobile */


@media(max-width:700px){


header{

    flex-direction:column;

}



header input{

    width:90%;

}



.hero h1{

    font-size:30px;

}


.apps{

    width:90%;

}



}
